@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Varela+Round&display=swap");

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
}

ul li {
  list-style-type: none;
}

.input {
  height: 3em;
  width: 100%;
  padding: 5px;
}

.App {
  max-width: 500px;
  min-width: 300px;
  min-height: 90vh;
  margin: auto;
  padding: 20px;
  border: 1px #9e9494 solid;
  box-shadow: 2px 2px #dad5d5, -2px -1px #dad5d5;
}






